{% extends "base.html" %}

{% block content %}
    <div class="column is-4 is-offset-4">
        <h3 class="title">Movie</h3>
        <div class="box">

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="notification is-danger">
                        {{ messages[0] }}
                    </div>
                {% endif %}
            {% endwith %}

            <form method="POST" action="/movies/update/{{ movie.id }}">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" maxlength="35" name="title" placeholder="Title"
                               autofocus="" value="{{ movie.title }}">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" name="genre" placeholder="Genre" value="{{ movie.genre }}">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="number" name="minimum_age" placeholder="Minimum age" value="{{ movie.minimum_age }}">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="number" name="length_minutes" placeholder="Length (minutes)" value="{{ movie.length_minutes }}">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <textarea class="input is-large textarea" name="description" placeholder="Description" >{{ movie.describe }}</textarea>
                    </div>
                </div>

                <button class="button is-block is-dark is-large is-fullwidth">Update</button>
            </form>
        <form method="POST" action="/movies/delete/{{ movie.id }}">
            <button style="margin-top: 5px" class="button is-block is-danger is-large is-fullwidth">Delete</button>
        </form>
        </div>
    </div>
{% endblock %}