{% extends "base.html" %}

{% block content %}

    <div class="tile is-ancestor is-widescreen">
        <div class="tile is-vertical">

            {% for movie in movies %}
                <a class="tile-hover">
                    <div class="tile">
                        <div class="tile is-parent">
                            <div class="tile is-child notification is-12">
                                <p class="title"><b>{{ movie.title }}</b></p>
                            </div>
                        </div>
                        <div class="tile is-parent">
                            <div class="tile is-child notification is-8">
                                <p class="title">{{ movie.genre }}</p>
                            </div>
                        </div>

                        <div class="tile is-parent">
                            <div class="tile is-child notification is-10">
                                <p class="title">{{ movie.length_minutes }}min</p>
                            </div>
                        </div>
                        {% if movie.minimum_age < 12 %}
                            <div class="tile is-parent">
                                <div class="tile is-child notification is-6 is-success">
                                    <p class="title">+{{ movie.minimum_age }}</p>
                                </div>
                            </div>
                        {% elif movie.minimum_age < 18  %}
                            <div class="tile is-parent">
                                <div class="tile is-child notification is-6 is-warning">
                                    <p class="title">+{{ movie.minimum_age }}</p>
                                </div>
                            </div>
                        {% else %}
                            <div class="tile is-parent">
                                <div class="tile is-child notification is-6 is-danger">
                                    <p class="title">+{{ movie.minimum_age }}</p>
                                </div>
                            </div>
                        {% endif %}

                        <div class="tile is-parent">
                            <div class="tile is-child notification is-2">
                                <button class="button is-dark">edit</button>
                            </div>
                        </div>
                    </div>
                </a>

            {% endfor %}
        </div>

    </div>

{% endblock %}