{% extends "base.html" %}

{% block content %}
    <div class="column is-4 is-offset-4">
        <h3 class="title">Room</h3>
        <div class="box">

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="notification is-danger">
                        {{ messages[0] }}
                    </div>
                {% endif %}
            {% endwith %}

            <form method="POST" action="/rooms/update/{{ room.id }}">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" maxlength="35" name="number" placeholder="number"
                               autofocus="" value="{{ room.number }}">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" maxlength="35" name="capacity" placeholder="capacity" readonly="readonly"
                               autofocus="" value="Capacity: {{ room.capacity }} sits">
                    </div>
                </div>

                <button class="button is-block is-dark is-large is-fullwidth">Update</button>
            </form>
            <form method="POST" action="/rooms/delete/{{ room.id }}">
                <button style="margin-top: 5px" class="button is-block is-danger is-large is-fullwidth">Delete</button>
            </form>
        </div>
    </div>

    <h3 class="title">Upcoming shows</h3>


    <div class="tile is-ancestor is-widescreen">
        <div class="tile is-vertical">

            {% for show in upcoming_shows %}
                <div class="tile">
                    <div class="tile is-parent">
                        <div class="tile is-child notification is-12">
                            <p class="title"><b>{{ show.movie.title }}</b></p>
                        </div>
                    </div>
                    <div class="tile is-parent">
                        <div class="tile is-child notification is-10">
                            <p class="title">Room No. {{ show.room.number }}</p>
                        </div>
                    </div>

                    <div class="tile is-parent">
                        <div class="tile is-child notification is-10">
                            <p class="title">{{ show.show_date.strftime('%Y-%m-%d %H:%M') }}</p>
                        </div>
                    </div>
                    <div class="tile is-parent">
                        <div class="tile is-child notification is-12">
                            <p class="title">{{ show.left_tickets }} left from {{ show.room.capacity }} sits</p>
                        </div>
                    </div>
                    <div class="tile is-parent">
                        <div class="tile is-child notification is-2">
                            <button class="button is-dark" onclick="nav_redirect('/shows/' + {{ show.id }})">go</button>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>

    </div>
{% endblock %}