{% extends "base.html" %}

{% block content %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            paintLegend()
        });

        function generateRoom() {
            const rows = document.getElementById("generate-room-rows").value;
            const columns = document.getElementById("generate-room-columns").value;
            if (rows && columns != null) {
                createRoomSitsView(columns, rows, true);
                Array.from(document.getElementById("room-grid-container").children)
                    .filter(value => !(value.id.includes("room-grid-row-iterator-")))
                    .forEach(value => {
                        decorateGridRoomElementSit(value)
                        value.onclick = function () {
                            switchRoomSitClick(value)
                        }
                    })
            }
        }

        function switchRoomSitClick(div) {
            if (div.decorated) {
                removeDecorationGridRoomElementSit(div)
                removeDecoratedGridRoomElementSitHover(div);
            } else {
                decorateGridRoomElementSit(div)
                addDecoratedRoomElementSitHover(div);
            }
        }

        function paintLegend() {
            const legend_div = document.getElementById("room-legend");

            const legend_sit_taken = createBaseGridRoomElement(99, 99, final_element_dimension_px);
            decorateGridRoomElementSit(legend_sit_taken)
            legend_sit_taken.innerText = 'X'
            legend_sit_taken.style.marginLeft = 'auto'
            legend_sit_taken.style.marginRight = 'auto'
            legend_sit_taken.style.position = 'relative'
            legend_div.appendChild(legend_sit_taken)
            console.log(legend_div)
            const legend_sit_taken_description = document.createElement('div')
            legend_sit_taken_description.style.position = 'relative'
            legend_sit_taken_description.innerText = ' - means that sit will be available to reserve during buying ticket and sit num will be X'
            legend_sit_taken_description.style.color = 'black'
            legend_sit_taken_description.style.marginLeft = "0px"
            legend_sit_taken_description.style.marginRight = "0px"
            legend_sit_taken_description.style.padding = "0px"
            legend_sit_taken_description.style.left = '-40px'
            legend_sit_taken_description.style.bottom = '12px'
            legend_sit_taken_description.style.width = '700px'
            legend_sit_taken.appendChild(legend_sit_taken_description)

            const legend_sit_not_available = createBaseGridRoomElement(99, 100, final_element_dimension_px);
            decorateGridRoomElementSit(legend_sit_not_available)
            legend_sit_not_available.innerText = 'X'
            legend_sit_not_available.style.marginLeft = 'auto'
            legend_sit_not_available.style.marginRight = 'auto'
            legend_sit_not_available.style.position = 'relative'
            legend_div.appendChild(legend_sit_not_available)
            console.log(legend_div)
            const legend_sit_not_available_description = document.createElement('div')
            legend_sit_not_available_description.style.position = 'relative'
            legend_sit_not_available_description.innerText = ' - means that sit wont be available to reserve during buying ticket and unavailable sit number is X'
            legend_sit_not_available_description.style.color = 'black'
            legend_sit_not_available_description.style.marginLeft = "0px"
            legend_sit_not_available_description.style.marginRight = "0px"
            legend_sit_not_available_description.style.padding = "0px"
            legend_sit_not_available_description.style.left = '0px'
            legend_sit_not_available_description.style.bottom = '-12px'
            legend_sit_not_available_description.style.width = '700px'
            removeDecorationGridRoomElementSit(legend_sit_not_available)
            legend_sit_not_available.innerText='X'
            legend_sit_taken.appendChild(legend_sit_not_available_description)


        }
    </script>
    <div class="column is-fullwidth">
        <div class="box">
            <div id="room-grid-container">
            </div>
            <div style="height: 100px"></div>
            <div style="width: 500px; height: 100px; margin-left: auto; margin-right: auto" id="room-legend">
            </div>
            <div>
                <div class="field">
                    <div class="control">
                        <input id="generate-room-rows" class="input is-large" type="text" maxlength="35" name="rows"
                               placeholder="rows">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input id="generate-room-columns" class="input is-large" type="text" maxlength="35"
                               name="columns" placeholder="columns">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button style="margin-top: 5px" class="button is-block is-info is-large is-fullwidth"
                                onclick="generateRoom()">generate
                            room
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="column is-4 is-offset-4">
        <h3 class="title">Room</h3>
        <div class="box">

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="notification is-danger">
                        {{ messages[0] }}
                    </div>
                {% endif %}
            {% endwith %}


            <form method="POST" action="/rooms/create">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" maxlength="35" name="number" placeholder="number"
                               autofocus="">
                    </div>
                </div>

                <button class="button is-block is-dark is-large is-fullwidth">Create</button>
            </form>
        </div>
    </div>
{% endblock %}