{% extends "base.html" %}

{% block content %}
    <script>
        function paintTicketSit() {
            const column = ({{ ticket.sit.sit }})
            const row = ({{ ticket.sit.row }})
            const taken_sit = document.getElementById(`room-grid-container-element-${row + 1}-${column + 1}`)
            taken_sit.style.backgroundColor = 'red'
            taken_sit.not_hover_out_background_color = 'red'
            taken_sit.not_hover_out_color = 'white'
        }

        document.addEventListener("DOMContentLoaded", function () {
            createRoomSitsView(({{ ticket.show.room.columns }}), ({{ ticket.show.room.rows }}), false)
            paintExistingRoomSits()
            paintLegend()
            paintTicketSit()
        });

        function paintExistingRoomSits() {
            {% for sit in ticket.show.room.sits %}
                var row = ({{ sit.row }})
                var column = ({{ sit.sit }})
                var room_grid_sit = document.getElementById(`room-grid-container-element-${row + 1}-${column + 1}`)
                decorateGridRoomElementSit(room_grid_sit)

            {% endfor %}
        }

        function paintLegend() {
            const legend_div = document.getElementById("room-legend");
            const legend_sit_taken = createBaseGridRoomElement(99, 99, final_element_dimension_px);
            decorateGridRoomElementSit(legend_sit_taken)
            legend_sit_taken.innerText = 'X'
            legend_sit_taken.style.marginLeft = 'auto'
            legend_sit_taken.style.marginRight = 'auto'
            legend_sit_taken.style.position = 'relative'
            legend_sit_taken.style.backgroundColor = 'red'
            legend_div.appendChild(legend_sit_taken)
            const legend_sit_taken_description = document.createElement('div')
            legend_sit_taken_description.style.position = 'relative'
            legend_sit_taken_description.innerText = ' - your ticket'
            legend_sit_taken_description.style.color = 'black'
            legend_sit_taken_description.style.marginLeft = "0px"
            legend_sit_taken_description.style.marginRight = "0px"
            legend_sit_taken_description.style.padding = "0px"
            legend_sit_taken_description.style.left = '-260px'
            legend_sit_taken_description.style.bottom = '12px'
            legend_sit_taken_description.style.width = '700px'
            legend_sit_taken.appendChild(legend_sit_taken_description)
        }

    </script>

    <div class="column is-fullwidth">
        <div class="box">
            <div id="room-grid-container">
            </div>
            <div style="height: 100px"></div>
            <div style="width: 500px; margin-left: auto; margin-right: auto" id="room-legend">
            </div>
            <div style="margin-left: auto; margin-right: auto;">
                <button style="margin-top: 5px; " class="button is-block is-info is-large is-4" onclick="nav_redirect('/shows/{{ ticket.show.id }}')">Go to show</button>
            </div>
        </div>
    </div>

    <div class="column is-4 is-offset-4">


        <h3 class="title">Ticket for {{ ticket.show.movie.title }} at room {{ ticket.show.room.number }}
            (row: {{ ticket.sit.row }},
            sit: {{ ticket.sit.sit }})</h3>
        <div class="box">

            <form method="POST" action="/tickets/update/{{ ticket.id }}">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="number" min="0" name="price" placeholder="Price"
                               value="{{ ticket.price }}"
                               autofocus="">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <select class="input is-large" name="was_paid">
                            {% if ticket.was_paid == True %}
                                <option selected="selected" value="true">Was paid</option>
                                <option value="false">Not paid yet</option>
                            {% else %}
                                <option value="true">Was paid</option>
                                <option selected="selected" value="false">Not paid yet</option>
                            {% endif %}
                        </select>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" name="discount_code" placeholder="Discount code"
                               value="{{ ticket.discount_code }}">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" name="ticket_number" readonly="readonly"
                               value="Ticket no. {{ ticket.ticket_number }}">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" name="sold_by" readonly="readonly"
                               value="Sold by: {{ ticket.employee.person.first_name }} {{ ticket.employee.person.last_name }}">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="text" name="show_details" readonly="readonly"
                               value="Show at: {{ ticket.show.show_date }}">
                    </div>
                </div>
                <button class="button is-block is-dark is-large is-fullwidth">Update</button>
            </form>
            <form method="POST" action="/tickets/delete/{{ ticket.id }}">
                <button style="margin-top: 5px" class="button is-block is-danger is-large is-fullwidth">Delete</button>
            </form>
        </div>
    </div>
{% endblock %}